Django==1.4.2
Fabric==1.4.3
South==0.7.6
django-bootstrap-pagination==0.1.10
django-braces==0.1.9
django-crispy-forms==1.2.0
django-debug-toolbar==0.9.4
django-extensions==1.0.0
django-grappelli==2.4.2
django-gravatar==0.1.0
django-model-utils==1.1.0
django-social-auth==0.7.8
django-tastypie==0.9.11
django-widget-tweaks==1.1.2
oauth2==1.5.211
psycopg2==2.3.2
pycrypto==2.3
python-dateutil==1.5
python-openid==2.2.5
pytz==2012h
raven==3.0.0
simplejson==2.6.2
ssh==1.8.0
ipython==0.13.1
matplotlib==1.2.0
numpy==1.5.0
