{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block title %}{% trans 'Device' %} {{ device.name }} | {{ block.super }}{% endblock %}
{% block page-header %}
    {% trans 'Device' %} {{ device.name }}
{% endblock %}

{% block content %}
    <div class="well">
        <b>ID:</b> {{ device.device_id }}<br>
        <script>
            $(function(){
                window.setInterval(function(){
                    jQuery.getJSON('{% url "api-device_status" device.device_id %}', function(response){
                        out = '';
                        for (i in response) {
                           out += '<b>'+i+':</b> '+ response[i]+'<br />';
                        }
                        $('#status').html(out);
                    });
                }, 1000);
            });
        </script>
        <div id="status">Loading...</div>
    </div>
{% endblock %}

