@import "reset.less";
@import "variables.less";
@import "mixins.less";

body {
    background: #fff;
    color: #404040;
    font: 12px normal Verdana, sans-serif;
}

#container {
    width: 960px;
    margin: 0 auto;
}
