{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load gravatar %}
{% load navigation_tags %}

{% block title %}{% trans 'Your Dashboard' %} | {{ block.super }}{% endblock %}

{% block content %}
    <b>Your token: </b> {{ user.get_profile.token }}
    <h2>Your devices</h2>
    <ul>
        {% for device in user.devices.all %}
            <li><a href="{{ device.get_absolute_url }}">{{ device.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
{% endblock %}
