{% extends "users/dashboard.html" %}
{% load url from future %}
{% load i18n %}
{% load gravatar %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{% trans 'Profile information' %}</h2>
    <p class="well">
    {% gravatar_img_for_user request.user 24 %}
    {% blocktrans %}
        Edit your avatar at <a href="http://gravatar.com/emails/">Gravatar.com</a>.
    {% endblocktrans %}
    </p>
    <form method="post" action="{% url 'users-edit_profile' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
            </button>
            <button type="reset" class="btn">
                {% trans 'Clear' %}
            </button>
        </div>
    </form>
{% endblock %}
